<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebRTC</title>
    </head>
    <body>
        <h1>Test WebRTC</h1>
        <video id="localStream" width="300" controls></video>
    </body>
    <script src="bundle.js"></script>
</html>
